{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - Details
{% endblock %}

{% block content %}
    {% include 'component/_navbar.html.twig' %}
    <p> Hello la Wild from details </p>
    <p> {{ contactEmail }} </p>
{% endblock %}